<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/html">
<head>

    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Car Rent</title>
    <meta name="description" content="Wypożyczalnia samochodów Car Rent">
    <meta name="keywords" content="wypożyczalnia samochodów, samochody, auta">
    <meta name="author" content="Car-Rent">
    <meta http-equiv="X-Ua-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{% static "wypozyczalnia/img/car_min.png" %}">
    <link rel="stylesheet" href="{% static "wypozyczalnia/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "wypozyczalnia/css/main.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="{% static "wypozyczalnia/css/lightbox.css" %}" rel="stylesheet">

</head>

<body>

{% include 'wypozyczalnia/includes/messaging.html' %}

<nav class="navbar navbar-dark fixed-top navbar-expand-lg" id="mainNav">

    <div class="container">

        <a class="navbar-brand" href="..">CAR-RENT.PL</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu"
                aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainmenu">

            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="..#start"> Start </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="..#samochody"> Nasze samochody </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="..#oferta"> Oferta </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="..#o_nas"> O nas </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="..#kontakt"> Kontakt </a>
                </li>

            </ul>

        </div>

    </div>

</nav>

<section id="login">
    <div class="container">
        {% if user.is_authenticated %}
            <a href="/logout" class="btn btn-dark float-right" role="button">Wyloguj</a>
        {% else %}
            <a href="/rejestracja" class="btn btn-dark float-right" role="button">Rejestracja</a>
            <a href="/logowanie" class="btn btn-dark float-right" role="button">Logowanie</a>
        {% endif %}
    </div>
</section>

{% block content %}
{% endblock %}

<section id="kontakt">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase">Kontakt</h4>
                <p>Car Rent sp. z o. o.</p>
                <p>tel. 000 000 000</p>
                <p>ul. Ulicowa 5</p>
                <p>00-000 Miastowo</p>
            </div>
            <div class="col-md-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase">W sieci</h4>
                <a href="#"><img class="img-fluid" src="{% static "wypozyczalnia/img/ikony/facebook.png" %}" alt=""></a>
                <a href="#"><img class="img-fluid" src="{% static "wypozyczalnia/img/ikony/googleplus.png" %}"
                                 alt=""></a>
                <a href="#"><img class="img-fluid" src="{% static "wypozyczalnia/img/ikony/twitter.png" %}" alt=""></a>
                <a href="#"><img class="img-fluid" src="{% static "wypozyczalnia/img/ikony/instagram.png" %}"
                                 alt=""></a>
                <a href="#"><img class="img-fluid" src="{% static "wypozyczalnia/img/ikony/youtube.png" %}" alt=""></a>
            </div>
            <div class="col-md-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase">Lorem ipsum</h4>
                <p>Ut suscipit in diam ac dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
</section>

</main>

<footer>
    <p>Copyright &copy Andrzej Bieda</p>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>

<script src="{% static "wypozyczalnia/js/bootstrap.min.js" %}"></script>

<script src="{% static "wypozyczalnia/js/js_galeria/lightbox-plus-jquery.min.js" %}"></script>
<script>
    lightbox.option({
        'alwaysShowNavOnTouchDevices': true
    })
</script>

</body>
</html>
